div.text-window.n3ds span.letter{
	display: inline-block;
	width: 19px;
	height: 19px;
	background: url('../images/font_3ds.png?v=0.5a');
	background-position: 0 0;
}

div.text-window.n3ds span.letter.color-blue{
	background-image: url('../images/font_3ds_blue.png?v=0.5a');
}
div.text-window.n3ds span.letter.color-orange{
	background-image: url('../images/font_3ds_orange.png?v=0.5a');
}
div.text-window.n3ds span.letter.color-green{
	background-image: url('../images/font_3ds_green.png?v=0.5a');
}

/* Font sprites */
div.text-window.n3ds span.letter.space{ width: 9px; background-position: 0 0; }
div.text-window.n3ds span.letter.exclamation{ width: 4px; background-position: -761px -76px; }
div.text-window.n3ds span.letter.double-quotes{ width: 6px; background-position: -39px 0; }
div.text-window.n3ds span.letter.cerquilha{ width: 12px; background-position: -780px -76px; }
div.text-window.n3ds span.letter.money-sign{ width: 11px; background-position: -799px -76px; }
div.text-window.n3ds span.letter.percent{ width: 15px; background-position: -818px -76px; }
div.text-window.n3ds span.letter.ampersand{ width: 12px; background-position: -837px -76px; }
div.text-window.n3ds span.letter.quotes{ width: 4px; background-position: -134px -38px; }
div.text-window.n3ds span.letter.open-parenthesis{ width: 6px; background-position: -856px -76px; }
div.text-window.n3ds span.letter.close-parenthesis{ width: 6px; background-position: -875px -76px; }
div.text-window.n3ds span.letter.asterisk{ width: 11px; background-position: -894px -76px; }
div.text-window.n3ds span.letter.plus{ width: 13px; background-position: -913px -76px; }
div.text-window.n3ds span.letter.comma{ width: 4px; background-position: -932px -76px; }
div.text-window.n3ds span.letter.minus{ width: 7px; background-position: -951px -76px; }
div.text-window.n3ds span.letter.dot{ width: 4px; background-position: -970px -76px; }
div.text-window.n3ds span.letter.slash{ width: 9px; background-position: -989px -76px; }
div.text-window.n3ds span.letter.colon{ width: 4px; background-position: -191px -95px; }
div.text-window.n3ds span.letter.semicolon{ width: 4px; background-position: -210px -95px; }
div.text-window.n3ds span.letter.less-than{ width: 13px; background-position: -229px -95px; }
div.text-window.n3ds span.letter.equal{ width: 13px; background-position: -248px -95px; }
div.text-window.n3ds span.letter.greater-than{ width: 13px; background-position: -267px -95px; }
div.text-window.n3ds span.letter.interrogation{ width: 9px; background-position: -286px -95px; }
div.text-window.n3ds span.letter.at-sign{ width: 19px; background-position: -571px -19px; }
div.text-window.n3ds span.letter.copyright{ width: 16px; background-position: -552px -19px; }
div.text-window.n3ds span.letter.open-square-brackets{ width: 6px; background-position: -799px -95px; }
div.text-window.n3ds span.letter.close-square-brackets{ width: 6px; background-position: -818px -95px; }
div.text-window.n3ds span.letter.underscore{ width: 14px; background-position: -837px -95px; }
div.text-window.n3ds span.letter.inverted-exclamation{ width: 4px; background-position: -229px -57px; }
div.text-window.n3ds span.letter.inverted-interrogation{ width: 9px; background-position: -267px -57px; }
div.text-window.n3ds span.letter.o-ordinal{ width: 8px; background-position: -400px -57px; }
div.text-window.n3ds span.letter.a-ordinal{ width: 7px; background-position: -533px -57px; }

div.text-window.n3ds span.letter.n0{ width: 10px; background-position: -1px -95px; }
div.text-window.n3ds span.letter.n1{ width: 6px; background-position: -20px -95px; }
div.text-window.n3ds span.letter.n2{ width: 10px; background-position: -39px -95px; }
div.text-window.n3ds span.letter.n3{ width: 11px; background-position: -58px -95px; }
div.text-window.n3ds span.letter.n4{ width: 11px; background-position: -77px -95px; }
div.text-window.n3ds span.letter.n5{ width: 10px; background-position: -96px -95px; }
div.text-window.n3ds span.letter.n6{ width: 10px; background-position: -115px -95px; }
div.text-window.n3ds span.letter.n7{ width: 10px; background-position: -134px -95px; }
div.text-window.n3ds span.letter.n8{ width: 10px; background-position: -153px -95px; }
div.text-window.n3ds span.letter.n9{ width: 10px; background-position: -172px -95px; }

div.text-window.n3ds span.letter.A{ width: 11px; background-position: -305px -95px; }
div.text-window.n3ds span.letter.B{ width: 11px; background-position: -324px -95px; }
div.text-window.n3ds span.letter.C{ width: 12px; background-position: -343px -95px; }
div.text-window.n3ds span.letter.D{ width: 11px; background-position: -362px -95px; }
div.text-window.n3ds span.letter.E{ width: 9px; background-position: -381px -95px; }
div.text-window.n3ds span.letter.F{ width: 9px; background-position: -400px -95px; }
div.text-window.n3ds span.letter.G{ width: 12px; background-position: -419px -95px; }
div.text-window.n3ds span.letter.H{ width: 12px; background-position: -438px -95px; }
div.text-window.n3ds span.letter.I{ width: 3px; background-position: -457px -95px; }
div.text-window.n3ds span.letter.J{ width: 10px; background-position: -476px -95px; }
div.text-window.n3ds span.letter.K{ width: 11px; background-position: -495px -95px; }
div.text-window.n3ds span.letter.L{ width: 10px; background-position: -514px -95px; }
div.text-window.n3ds span.letter.M{ width: 12px; background-position: -533px -95px; }
div.text-window.n3ds span.letter.N{ width: 11px; background-position: -552px -95px; }
div.text-window.n3ds span.letter.O{ width: 12px; background-position: -571px -95px; }
div.text-window.n3ds span.letter.P{ width: 10px; background-position: -590px -95px; }
div.text-window.n3ds span.letter.Q{ width: 12px; background-position: -609px -95px; }
div.text-window.n3ds span.letter.R{ width: 11px; background-position: -628px -95px; }
div.text-window.n3ds span.letter.S{ width: 10px; background-position: -647px -95px; }
div.text-window.n3ds span.letter.T{ width: 12px; background-position: -666px -95px; }
div.text-window.n3ds span.letter.U{ width: 12px; background-position: -685px -95px; }
div.text-window.n3ds span.letter.V{ width: 11px; background-position: -704px -95px; }
div.text-window.n3ds span.letter.W{ width: 13px; background-position: -723px -95px; }
div.text-window.n3ds span.letter.X{ width: 10px; background-position: -742px -95px; }
div.text-window.n3ds span.letter.Y{ width: 10px; background-position: -761px -95px; }
div.text-window.n3ds span.letter.Z{ width: 10px; background-position: -780px -95px; }

div.text-window.n3ds span.letter.a{ width: 9px; background-position: -856px -95px; }
div.text-window.n3ds span.letter.b{ width: 10px; background-position: -875px -95px; }
div.text-window.n3ds span.letter.c{ width: 9px; background-position: -894px -95px; }
div.text-window.n3ds span.letter.d{ width: 10px; background-position: -913px -95px; }
div.text-window.n3ds span.letter.e{ width: 8px; background-position: -932px -95px; }
div.text-window.n3ds span.letter.f{ width: 7px; background-position: -951px -95px; }
div.text-window.n3ds span.letter.g{ width: 9px; background-position: -970px -95px; }
div.text-window.n3ds span.letter.h{ width: 9px; background-position: -989px -95px; }
div.text-window.n3ds span.letter.i{ width: 3px; background-position: -1px -114px; }
div.text-window.n3ds span.letter.j{ width: 6px; background-position: -20px -114px; }
div.text-window.n3ds span.letter.k{ width: 9px; background-position: -39px -114px; }
div.text-window.n3ds span.letter.l{ width: 3px; background-position: -58px -114px; }
div.text-window.n3ds span.letter.m{ width: 13px; background-position: -77px -114px; }
div.text-window.n3ds span.letter.n{ width: 9px; background-position: -96px -114px; }
div.text-window.n3ds span.letter.o{ width: 10px; background-position: -115px -114px; }
div.text-window.n3ds span.letter.p{ width: 10px; background-position: -134px -114px; }
div.text-window.n3ds span.letter.q{ width: 9px; background-position: -153px -114px; }
div.text-window.n3ds span.letter.r{ width: 6px; background-position: -172px -114px; }
div.text-window.n3ds span.letter.s{ width: 8px; background-position: -191px -114px; }
div.text-window.n3ds span.letter.t{ width: 7px; background-position: -210px -114px; }
div.text-window.n3ds span.letter.u{ width: 9px; background-position: -229px -114px; }
div.text-window.n3ds span.letter.v{ width: 9px; background-position: -248px -114px; }
div.text-window.n3ds span.letter.w{ width: 13px; background-position: -267px -114px; }
div.text-window.n3ds span.letter.x{ width: 10px; background-position: -286px -114px; }
div.text-window.n3ds span.letter.y{ width: 9px; background-position: -305px -114px; }
div.text-window.n3ds span.letter.z{ width: 10px; background-position: -324px -114px; }

div.text-window.n3ds span.letter.A-grave{ width: 11px; background-position: -704px -38px; }
div.text-window.n3ds span.letter.A-acute{ width: 11px; background-position: -666px -38px; }
div.text-window.n3ds span.letter.A-circumflex{ width: 11px; background-position: -742px -38px; }
div.text-window.n3ds span.letter.A-tilde{ width: 11px; background-position: -818px -38px; }
div.text-window.n3ds span.letter.A-diaeresis{ width: 11px; background-position: -780px -38px; }
div.text-window.n3ds span.letter.C-cedilla{ width: 10px; background-position: -875px -38px; }
div.text-window.n3ds span.letter.E-grave{ width: 9px; background-position: -951px -38px; }
div.text-window.n3ds span.letter.E-acute{ width: 9px; background-position: -913px -38px; }
div.text-window.n3ds span.letter.E-circumflex{ width: 9px; background-position: -989px -38px; }
div.text-window.n3ds span.letter.E-tilde{ width: 9px; background-position: -58px -57px; }
div.text-window.n3ds span.letter.E-diaeresis{ width: 9px; background-position: -20px -57px; }
div.text-window.n3ds span.letter.I-grave{ width: 3px; background-position: -134px -57px; }
div.text-window.n3ds span.letter.I-acute{ width: 3px; background-position: -96px -57px; }
div.text-window.n3ds span.letter.I-circumflex{ width: 7px; background-position: -172px -57px; }
div.text-window.n3ds span.letter.I-diaeresis{ width: 6px; background-position: -210px -57px; }
div.text-window.n3ds span.letter.O-grave{ width: 11px; background-position: -343px -57px; }
div.text-window.n3ds span.letter.O-acute{ width: 11px; background-position: -305px -57px; }
div.text-window.n3ds span.letter.O-circumflex{ width: 11px; background-position: -381px -57px; }
div.text-window.n3ds span.letter.O-tilde{ width: 11px; background-position: -438px -57px; }
div.text-window.n3ds span.letter.O-diaeresis{ width: 11px; background-position: -419px -57px; }
div.text-window.n3ds span.letter.U-grave{ width: 9px; background-position: -495px -57px; }
div.text-window.n3ds span.letter.U-acute{ width: 9px; background-position: -476px -57px; }
div.text-window.n3ds span.letter.U-circumflex{ width: 9px; background-position: -514px -57px; }
div.text-window.n3ds span.letter.U-diaeresis{ width: 9px; background-position: -571px -57px; }
div.text-window.n3ds span.letter.N-tilde{ width: 11px; background-position: -248px -57px; }
div.text-window.n3ds span.letter.Y-diaeresis{ width: 10px; background-position: -628px -57px; }

div.text-window.n3ds span.letter.a-grave{ width: 9px; background-position: -742px -57px; }
div.text-window.n3ds span.letter.a-acute{ width: 9px; background-position: -685px -57px; }
div.text-window.n3ds span.letter.a-circumflex{ width: 9px; background-position: -799px -57px; }
div.text-window.n3ds span.letter.a-tilde{ width: 9px; background-position: -837px -57px; }
div.text-window.n3ds span.letter.a-diaeresis{ width: 9px; background-position: -818px -57px; }
div.text-window.n3ds span.letter.c-cedilla{ width: 9px; background-position: -875px -57px; }
div.text-window.n3ds span.letter.e-grave{ width: 8px; background-position: -951px -57px; }
div.text-window.n3ds span.letter.e-acute{ width: 8px; background-position: -913px -57px; }
div.text-window.n3ds span.letter.e-circumflex{ width: 8px; background-position: -989px -57px; }
div.text-window.n3ds span.letter.e-tilde{ width: 8px; background-position: -20px -76px; }
div.text-window.n3ds span.letter.e-diaeresis{ width: 8px; background-position: -1px -76px; }
div.text-window.n3ds span.letter.i-grave{ width: 3px; background-position: -58px -76px; }
div.text-window.n3ds span.letter.i-acute{ width: 3px; background-position: -39px -76px; }
div.text-window.n3ds span.letter.i-circumflex{ width: 7px; background-position: -77px -76px; }
div.text-window.n3ds span.letter.i-diaeresis{ width: 6px; background-position: -96px -76px; }
div.text-window.n3ds span.letter.o-grave{ width: 9px; background-position: -856px -38px; }
div.text-window.n3ds span.letter.o-acute{ width: 9px; background-position: -134px -76px; }
div.text-window.n3ds span.letter.o-circumflex{ width: 9px; background-position: -894px -38px; }
div.text-window.n3ds span.letter.o-tilde{ width: 9px; background-position: -970px -38px; }
div.text-window.n3ds span.letter.o-diaeresis{ width: 9px; background-position: -932px -38px; }
div.text-window.n3ds span.letter.u-grave{ width: 9px; background-position: -77px -57px; }
div.text-window.n3ds span.letter.u-acute{ width: 9px; background-position: -39px -57px; }
div.text-window.n3ds span.letter.u-circumflex{ width: 9px; background-position: -115px -57px; }
div.text-window.n3ds span.letter.u-diaeresis{ width: 9px; background-position: -153px -57px; }
div.text-window.n3ds span.letter.n-tilde{ width: 9px; background-position: -115px -76px; }
div.text-window.n3ds span.letter.y-diaeresis{ width: 9px; background-position: -191px -57px; }

div.text-window.n3ds span.letter.unknown{ width: 19px !important; background-position: -571px -19px !important; }