div.text-window.ds_american span.letter{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('../images/font_ds_american.png?v=0.5b');
	background-position: 0 0;
}

div.text-window.ds_american span.letter.color-blue{
	background-image: url('../images/font_ds_american_blue.png?v=0.5b');
}
div.text-window.ds_american span.letter.color-orange{
	background-image: url('../images/font_ds_american_orange.png?v=0.5b');
}
div.text-window.ds_american span.letter.color-green{
	background-image: url('../images/font_ds_american_green.png?v=0.5b');
}

div.text-window.ds_american span.caret{
	position: absolute;
	width: 9px;
	height: 9px;
	border: 0;
	bottom: 7px;
	right: 4px;
	background-image: url('../images/caret_ds.png');
}

/* Font sprites */
div.text-window.ds_american span.letter.space{ width: 8px; background-position: 0 0; }
div.text-window.ds_american span.letter.exclamation{ width: 3px; background-position: -32px 0; }
div.text-window.ds_american span.letter.double-quotes{ width: 7px; background-position: -48px 0; }
div.text-window.ds_american span.letter.cerquilha{ width: 13px; background-position: -64px 0; }
div.text-window.ds_american span.letter.money-sign{ width: 9px; background-position: -80px 0; }
div.text-window.ds_american span.letter.percent{ width: 12px; background-position: -96px 0; }
div.text-window.ds_american span.letter.ampersand{ width: 11px; background-position: -112px 0; }
div.text-window.ds_american span.letter.quotes{ width: 4px; background-position: -128px 0; }
div.text-window.ds_american span.letter.open-parenthesis{ width: 5px; background-position: -144px 0; }
div.text-window.ds_american span.letter.close-parenthesis{ width: 5px; background-position: -160px 0; }
div.text-window.ds_american span.letter.asterisk{ width: 9px; background-position: -176px 0; }
div.text-window.ds_american span.letter.plus{ width: 11px; background-position: -192px 0; }
div.text-window.ds_american span.letter.comma{ width: 4px; background-position: -208px 0; }
div.text-window.ds_american span.letter.minus{ width: 7px; background-position: 0 -16px; }
div.text-window.ds_american span.letter.dot{ width: 4px; background-position: -16px -16px; }
div.text-window.ds_american span.letter.slash{ width: 7px; background-position: -32px -16px; }
div.text-window.ds_american span.letter.colon{ width: 4px; background-position: -208px -16px; }
div.text-window.ds_american span.letter.semicolon{ width: 4px; background-position: 0 -32px; }
div.text-window.ds_american span.letter.less-than{ width: 9px; background-position: -16px -32px; }
div.text-window.ds_american span.letter.equal{ width: 8px; background-position: -32px -32px; }
div.text-window.ds_american span.letter.greater-than{ width: 9px; background-position: -48px -32px; }
div.text-window.ds_american span.letter.interrogation{ width: 9px; background-position: -64px -32px; }
div.text-window.ds_american span.letter.at-sign{ width: 10px; background-position: -80px -32px; }
div.text-window.ds_american span.letter.copyright{ width: 10px; background-position: 0 -144px; }
div.text-window.ds_american span.letter.open-square-brackets{ width: 6px; background-position: -64px -64px; }
div.text-window.ds_american span.letter.close-square-brackets{ width: 6px; background-position: -96px -64px; }
div.text-window.ds_american span.letter.underscore{ width: 11px; background-position: -128px -64px; }
div.text-window.ds_american span.letter.inverted-exclamation{ width: 3px; background-position: -160px -128px; }
div.text-window.ds_american span.letter.inverted-interrogation{ width: 9px; background-position: -176px -128px; }
div.text-window.ds_american span.letter.o-ordinal{ width: 6px; background-position: -16px -144px; }
div.text-window.ds_american span.letter.a-ordinal{ width: 6px; background-position: -32px -144px; }

div.text-window.ds_american span.letter.n0{ width: 7px; background-position: -48px -16px; }
div.text-window.ds_american span.letter.n1{ width: 5px; background-position: -64px -16px; }
div.text-window.ds_american span.letter.n2{ width: 7px; background-position: -80px -16px; }
div.text-window.ds_american span.letter.n3{ width: 7px; background-position: -96px -16px; }
div.text-window.ds_american span.letter.n4{ width: 7px; background-position: -112px -16px; }
div.text-window.ds_american span.letter.n5{ width: 7px; background-position: -128px -16px; }
div.text-window.ds_american span.letter.n6{ width: 7px; background-position: -144px -16px; }
div.text-window.ds_american span.letter.n7{ width: 7px; background-position: -160px -16px; }
div.text-window.ds_american span.letter.n8{ width: 7px; background-position: -176px -16px; }
div.text-window.ds_american span.letter.n9{ width: 7px; background-position: -192px -16px; }

div.text-window.ds_american span.letter.A{ width: 10px; background-position: -96px -32px; }
div.text-window.ds_american span.letter.B{ width: 9px; background-position: -112px -32px; }
div.text-window.ds_american span.letter.C{ width: 10px; background-position: -128px -32px; }
div.text-window.ds_american span.letter.D{ width: 9px; background-position: -144px -32px; }
div.text-window.ds_american span.letter.E{ width: 8px; background-position: -160px -32px; }
div.text-window.ds_american span.letter.F{ width: 8px; background-position: -176px -32px; }
div.text-window.ds_american span.letter.G{ width: 10px; background-position: -192px -32px; }
div.text-window.ds_american span.letter.H{ width: 9px; background-position: -208px -32px; }
div.text-window.ds_american span.letter.I{ width: 5px; background-position: 0 -48px; }
div.text-window.ds_american span.letter.J{ width: 7px; background-position: -16px -48px; }
div.text-window.ds_american span.letter.K{ width: 9px; background-position: -32px -48px; }
div.text-window.ds_american span.letter.L{ width: 9px; background-position: -48px -48px; }
div.text-window.ds_american span.letter.M{ width: 11px; background-position: -64px -48px; }
div.text-window.ds_american span.letter.N{ width: 9px; background-position: -80px -48px; }
div.text-window.ds_american span.letter.O{ width: 12px; background-position: -96px -48px; }
div.text-window.ds_american span.letter.P{ width: 9px; background-position: -112px -48px; }
div.text-window.ds_american span.letter.Q{ width: 12px; background-position: -128px -48px; }
div.text-window.ds_american span.letter.R{ width: 9px; background-position: -144px -48px; }
div.text-window.ds_american span.letter.S{ width: 9px; background-position: -160px -48px; }
div.text-window.ds_american span.letter.T{ width: 9px; background-position: -176px -48px; }
div.text-window.ds_american span.letter.U{ width: 9px; background-position: -192px -48px; }
div.text-window.ds_american span.letter.V{ width: 9px; background-position: -208px -48px; }
div.text-window.ds_american span.letter.W{ width: 15px; background-position: 0 -64px; }
div.text-window.ds_american span.letter.X{ width: 8px; background-position: -16px -64px; }
div.text-window.ds_american span.letter.Y{ width: 9px; background-position: -32px -64px; }
div.text-window.ds_american span.letter.Z{ width: 9px; background-position: -48px -64px; }

div.text-window.ds_american span.letter.a{ width: 8px; background-position: -160px -64px; }
div.text-window.ds_american span.letter.b{ width: 8px; background-position: -176px -64px; }
div.text-window.ds_american span.letter.c{ width: 8px; background-position: -192px -64px; }
div.text-window.ds_american span.letter.d{ width: 8px; background-position: -208px -64px; }
div.text-window.ds_american span.letter.e{ width: 8px; background-position: 0 -80px; }
div.text-window.ds_american span.letter.f{ width: 6px; background-position: -16px -80px; }
div.text-window.ds_american span.letter.g{ width: 8px; background-position: -32px -80px; }
div.text-window.ds_american span.letter.h{ width: 8px; background-position: -48px -80px; }
div.text-window.ds_american span.letter.i{ width: 3px; background-position: -64px -80px; }
div.text-window.ds_american span.letter.j{ width: 4px; background-position: -80px -80px; }
div.text-window.ds_american span.letter.k{ width: 8px; background-position: -96px -80px; }
div.text-window.ds_american span.letter.l{ width: 3px; background-position: -112px -80px; }
div.text-window.ds_american span.letter.m{ width: 11px; background-position: -128px -80px; }
div.text-window.ds_american span.letter.n{ width: 8px; background-position: -144px -80px; }
div.text-window.ds_american span.letter.o{ width: 9px; background-position: -160px -80px; }
div.text-window.ds_american span.letter.p{ width: 8px; background-position: -176px -80px; }
div.text-window.ds_american span.letter.q{ width: 8px; background-position: -192px -80px; }
div.text-window.ds_american span.letter.r{ width: 6px; background-position: -208px -80px; }
div.text-window.ds_american span.letter.s{ width: 8px; background-position: 0 -96px; }
div.text-window.ds_american span.letter.t{ width: 6px; background-position: -16px -96px; }
div.text-window.ds_american span.letter.u{ width: 8px; background-position: -32px -96px; }
div.text-window.ds_american span.letter.v{ width: 9px; background-position: -48px -96px; }
div.text-window.ds_american span.letter.w{ width: 11px; background-position: -64px -96px; }
div.text-window.ds_american span.letter.x{ width: 9px; background-position: -80px -96px; }
div.text-window.ds_american span.letter.y{ width: 9px; background-position: -96px -96px; }
div.text-window.ds_american span.letter.z{ width: 8px; background-position: -112px -96px; }

div.text-window.ds_american span.letter.A-grave{ width: 9px; background-position: -192px -96px; }
div.text-window.ds_american span.letter.A-acute{ width: 9px; background-position: -208px -96px; }
div.text-window.ds_american span.letter.A-circumflex{ width: 9px; background-position: 0 -112px; }
div.text-window.ds_american span.letter.A-tilde{ width: 9px; background-position: -16px -112px; }
div.text-window.ds_american span.letter.A-diaeresis{ width: 9px; background-position: -48px -144px; }
div.text-window.ds_american span.letter.C-cedilla{ width: 10px; background-position: -32px -112px; }
div.text-window.ds_american span.letter.E-grave{ width: 9px; background-position: -64px -144px; }
div.text-window.ds_american span.letter.E-acute{ width: 9px; background-position: -48px -112px; }
div.text-window.ds_american span.letter.E-circumflex{ width: 9px; background-position: -64px -112px; }
div.text-window.ds_american span.letter.E-tilde{ width: 9px; background-position: -80px -144px; }
div.text-window.ds_american span.letter.E-diaeresis{ width: 9px; background-position: -96px -144px; }
div.text-window.ds_american span.letter.I-grave{ width: 4px; background-position: -112px -144px; }
div.text-window.ds_american span.letter.I-acute{ width: 4px; background-position: -80px -112px; }
div.text-window.ds_american span.letter.I-circumflex{ width: 4px; background-position: -128px -144px; }
div.text-window.ds_american span.letter.I-diaeresis{ width: 4px; background-position: -144px -144px; }
div.text-window.ds_american span.letter.O-grave{ width: 10px; background-position: -160px -144px; }
div.text-window.ds_american span.letter.O-acute{ width: 10px; background-position: -96px -112px; }
div.text-window.ds_american span.letter.O-circumflex{ width: 10px; background-position: -112px -112px; }
div.text-window.ds_american span.letter.O-tilde{ width: 10px; background-position: -128px -112px; }
div.text-window.ds_american span.letter.O-diaeresis{ width: 10px; background-position: -176px -144px; }
div.text-window.ds_american span.letter.U-grave{ width: 9px; background-position: -192px -144px; }
div.text-window.ds_american span.letter.U-acute{ width: 9px; background-position: -144px -112px; }
div.text-window.ds_american span.letter.U-circumflex{ width: 9px; background-position: -208px -144px; }
div.text-window.ds_american span.letter.U-diaeresis{ width: 9px; background-position: -160px -112px; }
div.text-window.ds_american span.letter.N-tilde{ width: 9px; background-position: 0 -160px; }
div.text-window.ds_american span.letter.Y-diaeresis{ width: 9px; background-position: -16px -160px; }

div.text-window.ds_american span.letter.a-grave{ width: 8px; background-position: -176px -112px; }
div.text-window.ds_american span.letter.a-acute{ width: 8px; background-position: -192px -112px; }
div.text-window.ds_american span.letter.a-circumflex{ width: 8px; background-position: -208px -112px; }
div.text-window.ds_american span.letter.a-tilde{ width: 8px; background-position: 0 -128px; }
div.text-window.ds_american span.letter.a-diaeresis{ width: 8px; background-position: -32px -160px; }
div.text-window.ds_american span.letter.c-cedilla{ width: 8px; background-position: -16px -128px; }
div.text-window.ds_american span.letter.e-grave{ width: 8px; background-position: -48px -160px; }
div.text-window.ds_american span.letter.e-acute{ width: 8px; background-position: -32px -128px; }
div.text-window.ds_american span.letter.e-circumflex{ width: 8px; background-position: -48px -128px; }
div.text-window.ds_american span.letter.e-tilde{ width: 8px; background-position: -64px -160px; }
div.text-window.ds_american span.letter.e-diaeresis{ width: 8px; background-position: -80px -160px; }
div.text-window.ds_american span.letter.i-grave{ width: 4px; background-position: -96px -160px; }
div.text-window.ds_american span.letter.i-acute{ width: 3px; background-position: -64px -128px; }
div.text-window.ds_american span.letter.i-circumflex{ width: 4px; background-position: -112px -160px; }
div.text-window.ds_american span.letter.i-diaeresis{ width: 4px; background-position: -128px -160px; }
div.text-window.ds_american span.letter.o-grave{ width: 9px; background-position: -144px -160px; }
div.text-window.ds_american span.letter.o-acute{ width: 9px; background-position: -80px -128px; }
div.text-window.ds_american span.letter.o-circumflex{ width: 9px; background-position: -96px -128px; }
div.text-window.ds_american span.letter.o-tilde{ width: 9px; background-position: -112px -128px; }
div.text-window.ds_american span.letter.o-diaeresis{ width: 9px; background-position: -160px -160px; }
div.text-window.ds_american span.letter.u-grave{ width: 8px; background-position: -176px -160px; }
div.text-window.ds_american span.letter.u-acute{ width: 8px; background-position: -128px -128px; }
div.text-window.ds_american span.letter.u-circumflex{ width: 8px; background-position: -1928px -160px; }
div.text-window.ds_american span.letter.u-diaeresis{ width: 8px; background-position: -144px -128px; }
div.text-window.ds_american span.letter.n-tilde{ width: 8px; background-position: -208px -160px; }
div.text-window.ds_american span.letter.y-diaeresis{ width: 9px; background-position: 0 -176px; }

div.text-window.ds_american span.letter.unknown{ width: 11px !important; background-position: -16px 0 !important; }